.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.button{
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 10px;
  margin: 5px;
  border: 1px solid lightblue;
  color: lightblue;
  padding-top: 10px;

}

.button:hover{
  cursor: pointer;
}

.Calc{
  margin: 150px auto;
  width: 150px;
  border: 2px solid lightgrey;
  padding: 10px;
}

#display{
  width:100%;
  border: 1px solid lightgray;
  height: 2em;
  vertical-align: bottom;
}